html {
  background: url('images/about.jpg') no-repeat top center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

p {
  font-family: 'Lato',sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  font-size: 36px
}
