div, body{
  margin: 0;
  padding: 0;
}

.page {
  margin: 0;
  height: 728px;
  width: 100%;
  padding-top: 2em;
}

#homepage li {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  padding: .75em;
  text-align: center;
  list-style: none;
  font-size: 28px;
}

#homepage li:last-child a {
  border: 1px solid white;
  padding: 9px;
}

#homepage li:last-child:hover a {
  border: 2px solid white;
  padding:9px;
}

#homepage a:link {
  text-decoration:none;
  padding: 9px;
  color:white;
}

#homepage a:visited {
  text-decoration:none;
  padding: 9px;
  color:white;
}

#homepage a:hover {
  text-decoration: none;
  padding: 9px;
  border: 1px solid white;
  color:white;
}

#homepage a:active {
  text-decoration:none;
  padding: 9px;
  color:white;
}

#about {
  background: url('images/about.jpg') no-repeat top center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

#about p {
  font-family: 'Lato',sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.1em;
  color: white;
  text-align: center;
  font-size: 32px
}

#about .test {
  font-family: 'Lato', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  color: white;
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

#about a:link {
  text-decoration: underline;
  color: white;
}

#about a:visited {
  text-decoration: underline;
  color: white;
}

#about a:hover {
  text-decoration: underline;
  color: white;
  border: white 1px;
}

#about a:active {
  text-decoration: underline;
  color: white;
}

#services {
  background: url('images/services.jpg') no-repeat top center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

#service_list {
  margin-top: 2em;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

#services li {
  display: inline;
  float: left;
  width: 32%;
  list-style: none;
  padding: .2em;
  text-align: center;
}

#services .cut {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

#services .price {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

#services .description {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

#services .book {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

#services a:link {
  font-family: 'Lato', sans-serif;
  border: white 1px;
  text-decoration: none;
}

#services a:visited {
  font-family: 'Lato', sans-serif;
  border: white 1px;
  text-decoration: none;
  
}

#services a:hover {
  font-family: 'Lato', sans-serif;
  border: white 1px;
  text-decoration: none;
}

#services a:active {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  border: white 1px;
}

#book {
  background: url('images/book.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#booking_widget_container{
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
}

#homepage {
  background: url('images/homepage-blur.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#menu {
  display: none;
}

img#sign {
  padding: 2em 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-bottom: 1px white solid;
}

#information {
  padding-top: 2em;
  background: url('images/information.jpg') no-repeat top center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

#information li {
  text-align: center;
  list-style: none;
  float: left;
}

#information .contact {
  display: inline;
  float: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  list-style: none;
  padding: 2em;
}

#information .title {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  text-decoration: underline;
  color: white;
  text-align: center;
}

#information .info {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#information .infop {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: italic;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#information table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#information td {
  color: white;
}

#information ul {
  margin: 0;
  padding: 0;
}

#contact {
  margin-top: 2em;
  display: table;
  margin-right: auto;
  margin-left: auto;
}
