html {
  background: url('images/homepage.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#blurred {
    -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

img#sign {
  margin: 7%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

ul {
  margin-left: auto;
  margin-right: auto;
  color: white
