html {
  background: url('images/homepage.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#blurred {
    -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

img#sign {
  margin: 7%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

li {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: Satellite;
  text-decoration: none;
  padding: 6em;
  border: 1px;
  text-align: center;
  list-style: none;
}

a:link { 
  text-decoration:none;
  color:white;
}
a:visited {
  text-decoration:none;
  color:white;}

a:hover {
  text-decoration:none;
  color:white;
}

a:active {
  text-decoration:none;
  color:white;}
