html {
  background: url('images/services.jpg') no-repeat top center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

ul {
  position: absolute;
  bottom: 1px;
}

li:last-child p{
  color:black;
}

li {
  display: inline;
  float: left;
  width: 24%;
  list-style: none;
  padding: .2em;
}

.cut {
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  font-size: 18px
}

.price {
  font-family: 'Lato', sans-serif;
  text-decoration: italic;
  color: white;
  text-align: center;
  font-size: 10px;
}

.description {
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  font-size: 16px;
}
