html {
  background: url('images/services.jpg') no-repeat top center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

li {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.cut {
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  font-size: 36px
}

.price {
  font-family: 'Lato', sans-serif;
  text-decoration: italic;
  color: white;
  text-align: center;
  font-size: 24px;
}

.description {
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  font-size: 30px;
}
